.text {
	width: 1000px;
	height: 1350px;
}

.file {
	height: 30px;
}

.box {
	width: 794px;
	height: 1250px;
	border: 3px solid;
	border-color: white;
	margin-left: 90px;
}

.table{
	float: left;
	color: orange;
	height: 30px;
	line-height: 30px;
}

#small{
	margin-right: 10px;
	margin-left: 10px;
}

.part2 {
	float: left;
	width: 150px;
	height: 800px;
}
.img1 {
	height: 25px;
	width: 135px;
	color: white;
	text-align: center;
	line-height: 25px;
}

.left {
	border: 1px solid;
	width: 135px;
	line-height: 25px;
}

.mid {
	width: 473px;
	height: 800px;
	float: left;
}

.index {
	width: 100%;
}

.tex {
	width: 70%%;
}

.bor {
	border: 2px solid;
	border-color: lavender;
	width: 30%;
	float: left;
}

.tex1 {
	width: 69%;
	float: left;
}

.bor1 {
	border: 2px solid;
	border-color: lavender;
	width: 30%;
	float: right;
}

.right {
	float: right;
}

.fol {
	border: 1px solid;
	width: 135px;
	line-height: 25px;
	text-align: center;
}

.fol1 {
	border: 1px solid;
	width: 135px;
	line-height: 25px;
}

.clear {
	clear: both;
}

.p1 {
	clear: both;
}